In [2]:
print ('Hello World!')

Hello World!

In [4]:
print('Wow', 'Python is', 'Easy')

Wow Python is Easy

In [6]:
print('Day '*5)

Day Day Day Day Day

In [7]:
print('Day' + str(2))

Day2

In [8]:
print('LIST')

LIST

In [9]:
employee=['Radha','D souza','Ramesh','Salman']

In [10]:
print(employee)

['Radha', 'D souza', 'Ramesh', 'Salman']

In [11]:
employee.append('Kumar') #Append is nothing but adding
print(employee)

['Radha', 'D souza', 'Ramesh', 'Salman', 'Kumar']

In [12]:
employee.insert(1, 'Remo')

In [13]:
print(employee)

['Radha', 'Remo', 'D souza', 'Ramesh', 'Salman', 'Kumar']

In [14]:
len(employee)

6

In [15]:
employee[3]='Ganesh' #Removes and add the new name to the '3' index postion
print(employee)

['Radha', 'Remo', 'D souza', 'Ganesh', 'Salman', 'Kumar']

In [22]:
emp_sal=[48000, 20000, 28000, 19000]
print(emp_sal)

[48000, 20000, 28000, 19000]

In [23]:
emp_sal[1: ]
#Here the Starting index position is exculded

[20000, 28000, 19000]

In [24]:
emp_sal[ :3]
#here the end point is excluded

[48000, 20000, 28000]

In [25]:
emp_sal[1:3]
#Here starting and end points are excluded

[20000, 28000]

In [26]:
emp_sal=emp_sal+[25000]
#For permanently adding method
emp_sal

[48000, 20000, 28000, 19000, 25000]

In [27]:
emp_sal*2
#advance double method

[48000, 20000, 28000, 19000, 25000, 48000, 20000, 28000, 19000, 25000]

In [28]:
print('='*90)
print('                               Data Trained                            ')
print('='*90)

==========================================================================================
                               Data Trained
==========================================================================================